.search-title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 30px;
}

.search-title span{
    font-weight: 700;
    color: #ffca28;
}

/* .search-loading p{
    font-weight: 700;
    color: red;
} */