@import "~normalize.css";

* {
    box-sizing: inherit;
}
  
html {
    box-sizing: border-box;
}
  
body {
    font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

#input-slider{
    font-weight: 500;
    font-size: 16px;
    color: rgb(83, 83, 83);
}
